body{
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width:767px) {
    .slider-area img{
        min-height: 320px;
    }
    .slider-area h1 {
        font-size:26px;
    }
    .slider-area p {
        font-size: 14px;
    }
   
}
  